@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&family=Raleway:wght@800&display=swap');

:root{
    --background: #363537; /* Body background color */
    --highlights: #ed7d3a; /* Used for highlights and other areas */
    --card-items: #ef2d56; /* Transition color for certain elements */
}
body{
    background-color: var(--background);
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

#to-do-item{
    color: var(--whitesmoke);
    border: none;
    border-bottom: 1px solid white;
    width: 10rem;
    background: none;
    margin: 2rem;
}

#to-do-item:focus{
    outline: none;
}

button{
    margin-right: 3rem;
    width: 8rem;
    height: 2.5rem;
    cursor: pointer;
    padding: 5px;
    background-color: var(--card-items);
    color: snow;
    border-radius: 5px;
    border: 0.3px solid white;
}

button:hover{
    background-color: var(--highlights);
}

ol{
    list-style-type: upper-roman;
}

h1{
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px black;
}

.input-section{
    margin: 10rem;
    align-items: center;
    width: 300px auto;
}

#list-items{
    text-shadow: 1px 1px black;
    box-shadow: 4px 4px black;
    padding: 5rem;
    width: 50% auto;
    margin: 10rem;
    background: linear-gradient(var(--card-items), var(--highlights));
}
p{
    margin: 2rem;
}

label{
    font-size: 1.2rem;
}

/* Play a little celebratory animation after a task has been completed */

/* Counter for number of tasks finished in a day? -> Would reset at local time 12am for user */